body {
    font-family: Arial, sans-serif;
    background-color: #c7f5fe;
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.signup-form {
    max-width: 300px;
    margin: 0 auto;
    background: #c7f0ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}
